@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@200;400;500;600;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Lato", sans-serif;
    font-size: 100%;
}

img{
    max-width: 100%;
}

.container{
    width: 100%;
    height: 100vh;

}

.wrapper{
    width: 70%;
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
}